<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="row">
                <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active"      data-toggle="tab" href="#nav-vehicles" role="tab" aria-controls="nav-vehicles">Vehicles</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-fuel" role="tab" aria-controls="nav-fuel">Fuel</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-pms" role="tab" aria-controls="nav-pms">PMS</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-accidents" role="tab" aria-controls="nav-accidents">Accidents</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-repairs" role="tab" aria-controls="nav-repairs">Repairs</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-safety-problems" role="tab" aria-controls="nav-safety-problems">Safety Problems</a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-parts-replacements" role="tab" aria-controls="nav-parts-replacements">Parts Replacements</a>
                      </div>
                    </nav>
                </div>
                <div id="dummyDiv" class="col-sm-8 col-md-8 col-xl-8"></div>
                <div id="dummyDivSearch" class="col-md-9 col-xl-10 col-sm-2 hide"></div>
                <div id="vehicleDiv" class="col-sm-3 col-md-3 col-xl-2 col-12 mt-1 hide"> 
                    <div class="input-group" style="flex-wrap: inherit !important;">
                        <select class="form-control form-control-sm filter-oem" name="vehicleId" id="vehicleId"></select>
                        <div class="input-group-append">
                            <button id="btnFilterAsset" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Filter"><i class="fas fa-filter"></i></button>
                        </div> 
                    </div>
                </div>
                <div id="searchDiv" class="col-md-4 col-xl-3 col-sm-4 col-12 mt-1">
                    <div class="input-group" id="searchGroup">
                        <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="searchVal" name="searchVal" autocomplete="off" placeholder="Search.....">
                        <div class="input-group-append">
                            <button id="btnSearchVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search">
                               <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="input-group-append ml-1">
                            <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-icon-spin" type="button" title="Reset">
                               <i class="far fa-refresh hvr-icon"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
           </div>   
            <div class="tab-content" id="nav-tabContent">
                <div role="tabpanel" class="tab-pane fade show active" id="nav-vehicles">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridVehicles" class="zGrid mb-1"></div> 
                            </div>
                            <!--<div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveVehicleMaker">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnDeleteVehicleMaker">
                                    	<i class="fas fa-trash-alt"></i> Delete
                                    </button>    
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-fuel">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridRefuel" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSaveFuel" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>-->
                                     <button type="button" class="btn btn-primary btn-sm" id="btnDeleteRefuel" data-toggle="tooltip" title="Delete">
                                    	  <i class="fas fa-trash"></i> Delete
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-pms">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridPMS" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSavePMS">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                     <button type="button" class="btn btn-primary btn-sm" id="btnInactive" data-toggle="tooltip" title="Inactive">
                                    	  <i class="fas fa-ban"></i> Inactive
                                    </button>   -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-accidents">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridAccidents" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSaveAccidents" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>-->
                                     <button type="button" class="btn btn-primary btn-sm" id="btnDeleteAccidents" data-toggle="tooltip" title="Delete">
                                    	  <i class="fas fa-trash"></i> Delete
                                    </button>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-repairs">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridRepairs" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSaveRepairs" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>-->
                                     <button type="button" class="btn btn-primary btn-sm" id="btnDeleteRepairs" data-toggle="tooltip" title="Delete">
                                    	  <i class="fas fa-trash"></i> Delete
                                    </button>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-safety-problems">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridSafetyProblems" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSaveRepairs" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>-->
                                     <button type="button" class="btn btn-primary btn-sm" id="btnDeleteSafetyProblems" data-toggle="tooltip" title="Delete">
                                    	  <i class="fas fa-trash"></i> Delete
                                    </button>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-parts-replacements">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridPartsReplacements" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <!--<button type="button" class="btn btn-primary btn-sm" id="btnSaveRepairs" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>-->
                                     <button type="button" class="btn btn-primary btn-sm" id="btnDeletePartsReplacements" data-toggle="tooltip" title="Delete">
                                    	  <i class="fas fa-trash"></i> Delete
                                    </button>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal" id="modalInactive" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactiveVehicles" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactive" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteVehicles" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>